<mat-card class="div-home-middle">
    <mat-card-header>
        <mat-card-title>Camunda</mat-card-title>
        <mat-card-subtitle>POC - Engine BPM</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <h3 mat-subheader>Processos</h3>
            <div *ngFor="let process of model.processes">
                <mat-list-item>
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 mat-line>
                        {{ process.definitionKey }} {{ process.executionId ? '- ' + process.executionId : '' }}
                        <button mat-button (click)="onGetTasks(process)">Tarefas</button>
                    </h4>
                    <button mat-button (click)="onProcessStop(process)">Parar</button>
                    <button mat-raised-button color="primary" (click)="onProcessStart(process)">INICIAR</button>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
            <div *ngIf="model.processSelected !== null">
                <h3 mat-subheader>Tarefas do Processo - {{ model.processSelected.definitionKey }}</h3>
                <mat-list-item *ngFor="let task of model.processSelected.tasks">
                    <mat-icon mat-list-icon>note</mat-icon>
                    <h4 mat-line>{{ task }}</h4>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onLogout()">LOGOUT</button>
        <button mat-raised-button color="primary" (click)="onProcessUpdate()">ATUALIZAR</button>
    </mat-card-actions>
</mat-card>